In [1]:
# -*- coding: utf-8 -*-
import requests
import pandas as pd
import sqlite3 as sql

In [2]:
df = pd.read_csv("./house.csv")
# connect to db. if db is not exist, it will create a new one
conn = sql.connect("house.db")

In [3]:
# insert dataframe into table. If table exist, it would replace it
df.to_sql("house_table", conn, if_exists="replace")

In [4]:
# query from DB 
df_query = pd.read_sql_query("select * from house_table;", conn).head()
print(df_query.head())

   index  size  rooms   price
0      0  2104      3  399900
1      1  1600      3  329900
2      2  2400      3  369000
3      3  1416      2  232000
4      4  3000      4  539900