In [1]:
import pandas as pd

df = pd.read_csv('RegularSeasonCompactResults.csv')

In [2]:
print('print df head')
print(df.head())

print df head
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [3]:
print('print df tail')
print(df.tail())

print df tail
        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [4]:
print('print df shape')
print(df.shape)

print df shape
(145289, 8)

In [5]:
print('change columns to list')
print(df.columns.tolist())

change columns to list
['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [6]:
print('print statistics on df')
print(df.describe())

print statistics on df
              Season         Daynum          Wteam         Wscore  \
count  145289.000000  145289.000000  145289.000000  145289.000000
mean     2001.574834      75.223816    1286.720646      76.600321
std         9.233342      33.287418     104.570275      12.173033
min      1985.000000       0.000000    1101.000000      34.000000
25%      1994.000000      47.000000    1198.000000      68.000000
50%      2002.000000      78.000000    1284.000000      76.000000
75%      2010.000000     103.000000    1379.000000      84.000000
max      2016.000000     132.000000    1464.000000     186.000000

               Lteam         Lscore          Numot
count  145289.000000  145289.000000  145289.000000
mean     1282.864064      64.497009       0.044387
std       104.829234      11.380625       0.247819
min      1101.000000      20.000000       0.000000
25%      1191.000000      57.000000       0.000000
50%      1280.000000      64.000000       0.000000
75%      1375.000000      72.000000       0.000000
max      1464.000000     150.000000       6.000000

In [7]:
print('print max value of all columns')
print(df.max())

print max value of all columns
Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [8]:
print('print Wscore max and Lscore mean')
print(df['Wscore'].max())
print(df['Lscore'].max())

print Wscore max and Lscore mean
186
150

In [9]:
# use iloc(integer-location based indexing for selection by position) to access row

print('print first three row of dataframe')
print(df.iloc[:3])

print first three row of dataframe
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0

In [10]:
print('print the row that Wscore is max')
print(df.iloc[[df['Wscore'].idxmax()]])

print the row that Wscore is max
       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

In [11]:
print('print the Lscore that Wscore is max')
df.loc[df['Wscore'].idxmax(), 'Lscore']

print the Lscore that Wscore is max

140

In [12]:
print('print Wscore that is greater than 150')
df[df['Wscore'] > 150]

print Wscore that is greater than 150

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
5269     1986      75   1258     151   1109     107    H      0
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
16040    1989      40   1328     152   1331     122    H      0
16853    1989      68   1258     162   1109     144    A      0
17867    1989      92   1258     181   1109     150    H      0
19653    1990      30   1328     173   1109     101    H      0
19971    1990      38   1258     152   1109     137    A      0
20022    1990      40   1116     166   1109     101    H      0
22145    1990      97   1258     157   1362     115    H      0
23582    1991      26   1318     152   1258     123    N      0
24341    1991      47   1328     172   1258     112    H      0
24970    1991      68   1258     186   1109     140    H      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
40060    1995      32   1375     156   1341     114    H      0
52600    1998      33   1395     153   1410      87    H      0

In [13]:
print('print Wscore that is greater than 150 and Lscore is less than 100')
df[(df['Wscore'] > 150) & (df['Lscore'] < 100)]

print Wscore that is greater than 150 and Lscore is less than 100

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
12046    1988      40   1328     152   1147      84    H      0
12355    1988      52   1328     151   1173      99    N      0
25656    1991      84   1106     151   1212      97    H      0
28687    1992      54   1261     159   1319      86    H      0
35023    1993     112   1380     155   1341      91    A      0
52600    1998      33   1395     153   1410      87    H      0

In [14]:
print('get wscore column')
wscore_column = df[['Wscore']]
print(wscore_column.head())

get wscore column
   Wscore
0      81
1      77
2      63
3      70
4      86

In [15]:
for index, row in df.iterrows():
    print(row)
    if index == 0:
        break

Season    1985
Daynum      20
Wteam     1228
Wscore      81
Lteam     1328
Lscore      64
Wloc         N
Numot        0
Name: 0, dtype: object

In [16]:
print('drop first row of dataframe')
df_drop1 = df.drop(df.index[0])
print(df_drop1.head())

drop first row of dataframe
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
5    1985      25   1218      79   1337      78    H      0

In [17]:
print('drop first three row of dataframe')
df_drop2 = df.drop(df.index[:3])
print(df_drop2.head())

drop first three row of dataframe
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0
5    1985      25   1218      79   1337      78    H      0
6    1985      25   1228      64   1226      44    N      0
7    1985      25   1242      58   1268      56    N      0

In [18]:
print('after dropping, please remember to reset index')
df_reset_index1 = df_drop1.reset_index(drop=True)
df_reset_index2 = df_drop2.reset_index(drop=True)

after dropping, please remember to reset index

In [19]:
print(df_reset_index1.head())
print(df_reset_index2.head())

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      25   1106      77   1354      70    H      0
1    1985      25   1112      63   1223      56    H      0
2    1985      25   1165      70   1432      54    H      0
3    1985      25   1192      86   1447      74    H      0
4    1985      25   1218      79   1337      78    H      0
   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      25   1165      70   1432      54    H      0
1    1985      25   1192      86   1447      74    H      0
2    1985      25   1218      79   1337      78    H      0
3    1985      25   1228      64   1226      44    N      0
4    1985      25   1242      58   1268      56    N      0

In [20]:
print('drop first column of dataframe')
df_drop_column = df.drop('Season', axis=1)
print(df_drop_column.head())

drop first column of dataframe
   Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0      20   1228      81   1328      64    N      0
1      25   1106      77   1354      70    H      0
2      25   1112      63   1223      56    H      0
3      25   1165      70   1432      54    H      0
4      25   1192      86   1447      74    H      0

In [21]:
print('save panda dataframe as csv file')
df.to_csv('save_pandas_without_index.csv', sep=',', index=False)
df.to_csv('save_pandas_with_index.csv', sep=',')

save panda dataframe as csv file

In [22]:
print('save panda dataframe to html format')
df = df[:10]
df.to_html('save_pandas.html')

save panda dataframe to html format

In [23]:
print('read html format to panda frame')
df_html = pd.read_html('save_pandas.html', encoding='utf-8')
print(df_html[0])

read html format to panda frame
   Unnamed: 0  Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0           0    1985      20   1228      81   1328      64    N      0
1           1    1985      25   1106      77   1354      70    H      0
2           2    1985      25   1112      63   1223      56    H      0
3           3    1985      25   1165      70   1432      54    H      0
4           4    1985      25   1192      86   1447      74    H      0
5           5    1985      25   1218      79   1337      78    H      0
6           6    1985      25   1228      64   1226      44    N      0
7           7    1985      25   1242      58   1268      56    N      0
8           8    1985      25   1260      98   1133      80    H      0
9           9    1985      25   1305      97   1424      89    H      0