In [5]:
import sqlite3

conn = sqlite3.connect('test.db')

In [6]:
first_number = 20 
second_number = 10

In [7]:
sqlstr = "insert into test_table (field1, field2) values({},{});".format(first_number,second_number)
conn.execute(sqlstr)
conn.commit()

In [8]:
sqlstr = "select * FROM test_table;"
cursor = conn.execute(sqlstr)
for row in cursor:
	print('{} {} {}'.format(row[0], row[1], row[2]))

0 0 10
1 20 10
2 20 10
3 20 10
4 20 10
5 20 10
6 20 10
7 20 10
8 20 10
9 20 10