In [16]:
#讀取資料
import pandas as pd

df = pd.read_csv('mpg.csv')

print(df.head())

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [17]:
#去除多餘資料
df = df.drop('name', axis=1)

In [18]:
#格式化資料
df['origin'] = df['origin'].replace({1: 'america', 2: 'europe', 3: 'asia'})

df = pd.get_dummies(df, columns=['origin'])

df.head()

,mpg,cyl,displ,hp,weight,accel,yr,origin_america,origin_asia,origin_europe
0,18.0,8,307.0,130,3504,12.0,70,1,0,0
1,15.0,8,350.0,165,3693,11.5,70,1,0,0
2,18.0,8,318.0,150,3436,11.0,70,1,0,0
3,16.0,8,304.0,150,3433,12.0,70,1,0,0
4,17.0,8,302.0,140,3449,10.5,70,1,0,0

In [19]:
import numpy as np
#去除missing data
df = df.replace('?', np.nan)
df = df.dropna()

In [27]:
#標準化 :為了避免偏向某個變數去做訓練
df = (df - df.mean()) / df.std()  
df.head()

,mpg,cyl,displ,hp,weight,accel,yr,origin_america,origin_asia,origin_europe
0,-0.697747,1.482053,1.075915,0.663285,0.619748,-1.283618,-1.623241,0.773608,-0.501749,-0.457538
1,-1.082115,1.482053,1.486832,1.572585,0.842258,-1.464852,-1.623241,0.773608,-0.501749,-0.457538
2,-0.697747,1.482053,1.181033,1.182885,0.539692,-1.646086,-1.623241,0.773608,-0.501749,-0.457538
3,-0.953992,1.482053,1.047246,1.182885,0.536160,-1.283618,-1.623241,0.773608,-0.501749,-0.457538
4,-0.825870,1.482053,1.028134,0.923085,0.554997,-1.827320,-1.623241,0.773608,-0.501749,-0.457538

In [28]:
#分割資料
X = df.drop('mpg', axis=1)
y = df[['mpg']]

from sklearn.model_selection import train_test_split

# Split X and y into X_
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

In [29]:
#代入模型training
from sklearn.linear_model import LinearRegression

regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [30]:
#印出各系數
for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model.coef_[0][idx]))

The coefficient for cyl is -0.05383703751356557
The coefficient for displ is 0.32003656363146527
The coefficient for hp is -0.029674602412523853
The coefficient for weight is -0.798408577423236
The coefficient for accel is 0.07740286528276993
The coefficient for yr is 0.370582175538767
The coefficient for origin_america is -0.09260797302831225
The coefficient for origin_asia is 0.05562992131607891
The coefficient for origin_europe is 0.059468940932230985

In [31]:
#截距
intercept = regression_model.intercept_[0]

print("The intercept for our model is {}".format(intercept))

The intercept for our model is -0.018970072616414153

In [32]:
#將測試資料帶入得準確率
regression_model.score(X_test, y_test)

0.82852313164597724