In [2]:
import requests
import json
import pandas as pd
from time import sleep

err_count = 0
while err_count < 3:
    try:
        #小心requrest太過頻繁IP會被對方封鎖
        res1 = requests.get('http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20170901&stockNo=2330')
        sleep(5)
        res2 = requests.get('http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20171001&stockNo=2330')
        sleep(5)
        res3 = requests.get('http://www.twse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20171101&stockNo=2330')
        break
    except:
        sleep(5)
        err_count += 1
        continue
if err_count == 3:
    print('連線失敗')

json1 = res1.json()
json2 = res2.json()
json3 = res3.json()

In [3]:
header = json1['fields']
header

['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數']

In [4]:
data = json1['data']
data.extend(json2['data'])
data.extend(json3['data'])
len(data)

63

In [5]:
df = pd.DataFrame.from_records(data, columns=header)
df.sort_index(ascending=False).head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
62,106/11/30,"112,262,770","25,539,072,296",226.50,230.50,226.00,226.00,-8.50,"21,352"
61,106/11/29,"26,535,797","6,234,161,137",235.00,236.00,234.50,234.50,+0.50,"6,976"
60,106/11/28,"47,834,178","11,198,457,400",234.50,235.00,233.00,234.00,-3.00,"15,262"
59,106/11/27,"32,247,327","7,696,717,391",240.00,240.00,237.00,237.00,-7.00,"14,743"
58,106/11/24,"11,404,453","2,777,319,771",242.00,244.50,241.50,244.00,+1.50,"3,910"

In [6]:
#日期轉換西元年、如使用Jupyter重複執行這裡會讓日期溢位
for i, row in df.iterrows():
    #print(row[0])
    strDate = row[0]
    DateArr = strDate.split("/")
    DateArr[0] = str(int(DateArr[0])+1911)
    DateArr[1] = str(int(DateArr[1]))
    DateArr[2] = str(int(DateArr[2]))
    #df.set_value(i,'日期','/'.join(DateArr))
    df.loc[i, '日期'] = '/'.join(DateArr)
df.sort_index(ascending=False).head()

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
62,2017/11/30,"112,262,770","25,539,072,296",226.50,230.50,226.00,226.00,-8.50,"21,352"
61,2017/11/29,"26,535,797","6,234,161,137",235.00,236.00,234.50,234.50,+0.50,"6,976"
60,2017/11/28,"47,834,178","11,198,457,400",234.50,235.00,233.00,234.00,-3.00,"15,262"
59,2017/11/27,"32,247,327","7,696,717,391",240.00,240.00,237.00,237.00,-7.00,"14,743"
58,2017/11/24,"11,404,453","2,777,319,771",242.00,244.50,241.50,244.00,+1.50,"3,910"

In [7]:
df.to_csv('../data/fp_demo.csv', sep=',', encoding='utf-8-sig', index=False)

In [8]:
import sqlite3 as sql

#連線至sqlite檔案，若無該檔案sql，則會建立一個新的
conn = sql.connect("../data/twse.db")
#將Dataframe資料寫入sql檔中的'demo1'表中，無該資料表則會自動建立
df.to_sql("demo1", conn, if_exists="replace", index=False)

In [10]:
pd.read_sql_query("select * from demo1;", conn).sort_index(ascending=False)

,日期,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
62,2017/11/30,"112,262,770","25,539,072,296",226.50,230.50,226.00,226.00,-8.50,"21,352"
61,2017/11/29,"26,535,797","6,234,161,137",235.00,236.00,234.50,234.50,+0.50,"6,976"
60,2017/11/28,"47,834,178","11,198,457,400",234.50,235.00,233.00,234.00,-3.00,"15,262"
59,2017/11/27,"32,247,327","7,696,717,391",240.00,240.00,237.00,237.00,-7.00,"14,743"
58,2017/11/24,"11,404,453","2,777,319,771",242.00,244.50,241.50,244.00,+1.50,"3,910"
57,2017/11/23,"9,562,763","2,320,934,646",242.00,243.50,241.50,242.50,+0.50,"4,253"
56,2017/11/22,"27,251,431","6,631,376,152",244.50,244.50,242.00,242.00,-1.00,"7,655"
55,2017/11/21,"22,878,024","5,529,803,248",240.00,243.00,239.50,243.00,+4.50,"7,942"
54,2017/11/20,"19,811,271","4,744,311,377",241.00,241.50,238.00,238.50,-3.00,"5,935"
53,2017/11/17,"18,741,825","4,528,440,917",240.50,242.50,240.50,241.50,+3.50,"5,647"
52,2017/11/16,"17,274,172","4,118,927,788",238.00,240.00,237.50,238.00,+0.50,"5,683"
51,2017/11/15,"29,720,308","7,063,591,898",239.00,239.50,236.00,237.50,-2.50,"9,224"
50,2017/11/14,"17,229,176","4,132,433,432",241.00,241.00,239.00,240.00,+0.50,"4,130"
49,2017/11/13,"12,087,858","2,904,559,294",240.00,241.50,239.50,239.50,-1.00,"4,288"
48,2017/11/10,"15,061,296","3,629,826,936",240.00,242.00,239.50,240.50,-0.50,"4,465"
47,2017/11/9,"21,366,949","5,151,628,572",240.50,243.00,240.00,241.00,-1.50,"6,339"
46,2017/11/8,"14,579,103","3,536,455,029",243.00,243.50,242.00,242.50,-1.50,"4,610"
45,2017/11/7,"21,689,261","5,266,500,464",242.00,244.00,241.50,244.00,+4.50,"6,729"
44,2017/11/6,"21,029,515","5,063,670,900",243.50,244.00,239.00,239.50,+0.50,"6,601"
43,2017/11/3,"18,327,682","4,386,122,470",240.50,241.00,238.50,239.00,-2.00,"5,621"
42,2017/11/2,"16,309,342","3,940,181,714",242.00,242.50,240.50,241.00,-1.50,"5,912"
41,2017/11/1,"20,465,054","4,975,624,502",243.50,245.00,241.50,242.50,-0.50,"6,464"
40,2017/10/31,"22,582,013","5,497,062,659",243.50,245.00,241.50,243.00,0.00,"8,176"
39,2017/10/30,"30,241,990","7,358,619,170",242.00,245.00,241.50,243.00,+4.00,"10,609"
38,2017/10/27,"18,040,541","4,304,460,160",237.50,240.00,237.50,239.00,+3.00,"5,715"
37,2017/10/26,"12,959,717","3,069,618,429",237.00,238.00,236.00,236.00,-2.00,"4,947"
36,2017/10/25,"17,205,187","4,099,505,436",238.50,239.00,237.50,238.00,0.00,"5,808"
35,2017/10/24,"16,100,570","3,842,463,252",240.00,240.00,238.00,238.00,-1.00,"6,034"
34,2017/10/23,"15,959,559","3,820,927,681",239.00,240.00,238.50,239.00,+1.50,"6,686"
33,2017/10/20,"27,056,035","6,456,386,670",238.00,239.50,237.50,237.50,-1.50,"7,206"
...,...,...,...,...,...,...,...,...,...
29,2017/10/16,"20,673,072","4,906,963,355",237.50,238.00,236.00,238.00,+0.50,"6,764"
28,2017/10/13,"23,145,071","5,465,540,327",237.50,237.50,234.50,237.50,0.00,"10,507"
27,2017/10/12,"44,176,186","10,450,920,432",235.00,237.50,234.50,237.50,+4.50,"16,490"
26,2017/10/11,"67,649,562","15,633,206,754",226.50,233.50,226.50,233.00,+8.50,"20,879"
25,2017/10/6,"16,040,516","3,604,683,862",225.00,225.50,223.50,224.50,0.00,"7,612"
24,2017/10/5,"25,397,939","5,691,251,336",222.00,225.50,222.00,224.50,+2.00,"8,601"
23,2017/10/3,"38,330,938","8,497,244,691",219.00,223.00,219.00,222.50,+2.00,"12,703"
22,2017/10/2,"28,360,551","6,233,064,680",219.50,220.50,218.50,220.50,+4.00,"10,605"
21,2017/9/30,"4,254,045","924,823,765",218.00,218.50,216.50,216.50,0.00,"2,446"
20,2017/9/29,"23,954,708","5,184,362,760",216.00,217.50,215.50,216.50,+2.50,"7,507"
19,2017/9/28,"31,616,062","6,788,534,834",215.00,216.00,213.50,214.00,-1.00,"7,749"
18,2017/9/27,"24,794,510","5,353,580,844",217.50,217.50,215.00,215.00,+1.00,"7,326"
17,2017/9/26,"25,003,901","5,392,244,669",217.50,218.00,214.00,214.00,-3.00,"8,768"
16,2017/9/25,"17,458,286","3,797,761,662",217.50,218.50,217.00,217.00,-1.50,"6,250"
15,2017/9/22,"22,456,370","4,930,530,220",221.50,222.00,218.50,218.50,-2.50,"7,431"
14,2017/9/21,"18,645,565","4,125,047,365",221.00,223.00,220.00,221.00,-0.50,"6,604"
13,2017/9/20,"23,434,237","5,179,958,449",221.00,222.00,220.00,221.50,0.00,"9,347"
12,2017/9/19,"26,255,575","5,742,129,525",221.50,221.50,220.00,221.50,+2.00,"11,072"
11,2017/9/18,"17,812,705","3,905,801,892",219.00,220.00,218.00,219.50,+1.00,"6,714"
10,2017/9/15,"48,901,103","10,668,230,939",218.50,219.00,217.00,218.50,0.00,"5,253"
9,2017/9/14,"21,508,567","4,701,852,606",218.50,219.00,217.50,218.50,+0.50,"6,314"
8,2017/9/13,"18,336,541","3,998,984,438",217.50,219.00,217.50,218.00,-1.00,"4,598"
7,2017/9/12,"24,862,321","5,437,521,978",219.00,219.50,217.50,219.00,+2.00,"5,992"
6,2017/9/11,"19,387,886","4,215,723,762",219.00,219.50,216.50,217.00,-1.00,"5,305"
5,2017/9/8,"25,512,045","5,549,520,265",217.00,218.00,216.50,218.00,+1.00,"7,969"
4,2017/9/7,"19,198,540","4,170,321,680",218.00,218.50,216.00,217.00,0.00,"6,586"
3,2017/9/6,"28,148,528","6,117,444,609",216.50,218.00,216.00,217.00,-1.00,"6,999"
2,2017/9/5,"34,514,275","7,503,488,603",218.00,218.00,216.50,218.00,+0.50,"7,065"
1,2017/9/4,"15,053,185","3,273,164,145",216.50,218.00,215.50,217.50,+1.00,"8,635"
0,2017/9/1,"17,805,405","3,851,834,126",215.00,217.50,215.00,216.50,0.00,"6,956"